
/* Botão de Voltar */
.btn-custom {
    padding: 12px 30px;
    border-radius: 50px; /* Botão pílula */
    transition: all 0.3s ease;
    font-weight: 600;
    letter-spacing: 0.5px;
    box-shadow: 0 4px 15px rgba(0, 123, 255, 0.2);
    }

    .btn-custom:hover {
    transform: translateY(-2px); /* Efeito de levante */
    box-shadow: 0 6px 20px rgba(0, 123, 255, 0.3);
    }